{% extends "layout.html" %}
{% load static %}
{% block title %}Pro Market | La Empresa{% endblock %}

{% block content %}
	<section id="about" class="d-flex align-items-center">
		<div class="container-fluid ">
			<div class="row justify-content-center">		
				<div class="col-12 text-center mb-4" data-aos="fade-down" data-aos-duration="1500">
					<h1>La Empresa</h1>
				</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container mt-5">
		<div class="row">			
			<div class="col">
				<h2>La Empresa</h2>
				<hr>
				<p>En Comercial Pro Market Limitada, estamos muy orgullosos de ser los distribuidores exclusivos para Chile de SOZIO Inc. empresa francesa, líder mundial en el desarrollo de composiciones perfumadas y que pone a  disposición del mercado nacional,  la más variada, actualizada y futura gama de fragancias,  además de la garantía de su extraordinaria calidad.</p>
				
				<p>Estamos convencidos que nuestros clientes notarán las diferencias en sus desarrollos y verán reflejadas la aceptación que demuestran sus creaciones en el aumento del volumen de sus ventas.</p>
				
				<p>Los invitamos a conocer nuestros productos y sus aplicaciones donde encontraran el aroma que buscan.</p>

				<h2>Mision</h2>
				<hr>
				<p>Proveer al mercado nacional de fragancias de alta calidad en base a los principios, valores y conceptos fundamentales de nuestra representada, orientada al servicio al cliente y amigable con el medio ambiente. Tenemos como objetivo, proporcionar a nuestros clientes fragancias innovadoras, actuales y atractivas que permitan el desarrollo exitoso de sus productos y creaciones.</p>

				<p>Compartimos y garantizamos a nuestros clientes y colaboradores cumplir con las políticas de la casa matriz en todos sus aspectos, valoramos los procesos de producción vanguardistas y certificados, respetamos las compras seguras basados en la confianza y calidad de las materias primas, apoyamos permanentemente a nuestros clientes en el desarrollo de sus productos y tomamos compromisos de entrega oportuna.</p>

				<h2>Quienes somos</h2>
				<hr>
				<p>Comercial Pro Market Limitada, nace en el año 2010 dedicada principalmente a la comercialización de productos cosméticos. El equipo está formado por profesionales con  más de 20 años de experiencia en  la dirección de marketing de importantes empresas productos de belleza y para el hogar, tanto en Chile como en Latinoamérica.</p>

				<p>Actualmente Pro Market, ha establecido una alianza estratégica para la distribución exclusiva en Chile de la Compañía SOZIO Inc., empresa fundada en 1758 en Grasse, Francia y que hoy es líder mundial en la producción de esencias de gran calidad para la fabricación de fragancias finas, aromas para productos cosméticos, de cuidado personal, fragancias para el hogar, fragancias naturales y orgánicas, fragancias para detergentes, productos de limpieza y fragancias institucionales e industriales. Y ahora enfocados en las fragancias “Clean” que se definen por: Seguridad, Sostenibilidad y Transparencia.</p>

				<p>Estamos muy orgullosos de representar en nuestro país a esta gran Compañía con presencia global, soluciones innovadoras y creativas de productos de muy buena calidad y a precios justos.</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}