{% extends "layout.html" %}
{% load static %}
{% block title %}Pro Market | Fragancias{% endblock %}

{% block content %}
	<section class="fragrances d-flex align-items-center">
		<div class="container-fluid ">
			<div class="row justify-content-center">		
				<div class="col-12 text-center mb-4" data-aos="fade-down" data-aos-duration="1500">
					<h1>Fragancias</h1>
				</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container mt-5">
		<div class="row">			
			<div class="col-12">
				
				<h2>Fragancias finas</h2>
				<hr>
				<p><img src="{% static "/img/fragrances/fragancias_finas.jpg" %}" width="25%" class="float-left mr-4 mb-1">Las fragancias finas están abriendo nuevos horizontes olfatorios y anunciando tendencias futuras. Forma parte de nuestros objetivos, cumplir las expectativas de los clientes que continuamente buscan creatividad e innovación.</p>
				<p>Lideramos conceptos nuevos e innovadores que coinciden con el perfil de la marca y los clientes objetivos. Nuestra representada, actualmente tiene presencia en diversos campos, como el sector de nichos, lujo y perfumes masivos, posee activos creativos reales que pone a disposición de sus clientes para desarrollar perfumes que ofrezcan un alto potencial.</p>

				<p>SOZIO desarrolla fragancias que coinciden con el espíritu de los tiempos, combinando emoción y escape.</p>
				<!-- <img src="{% static "/img/fragrances/fragancias_finas2.jpg" %}" width="25%" class="float-right mr-2 mb-1"> -->
				<p>Sus fragancias originales, desde las más figurativas hasta las más conceptuales, siguen y anuncian tendencias olfativas actuales y futuras.</p>
				<p>El monitoreo continuo de los productos en el mercado se lleva a cabo por sus departamentos de Marketing en Europa, EE. UU. y en Asia:</p>
				<ul class="services_list">
					<li>Análisis de la evolución del mercado</li>
					<li>Estudios específicos y propuestas</li>
					<li>Análisis de tendencias y fuentes de inspiración y fuentes creativas para anticipar las necesidades de los consumidores</li>
				</ul>
			</div>
			<!-- <div class="col-3">
				<img src="{% static "/img/fragrances/fragancias_finas.jpg" %}" width="100%" class="float-left mr-2 mb-1">
			</div> -->
		</div>
		<div class="row mt-5">
			<!-- <div class="col-3">
				<img src="{% static "/img/fragrances/fragancias_cuidado.jpg" %}" width="100%">
			</div> -->
			<div class="col-12">
				<h2>Fragancias para cuidado personal</h2>
				<hr>

				<p><img src="{% static "/img/fragrances/fragancias_cuidado.jpg" %}" width="25%" class="float-right ml-4 mb-1">Este mercado muy importante presenta numerosos productos, en los que las aplicaciones y la innovación cambian constantemente. Nuestra compañía sigue de cerca este mercado, que requiere formulaciones técnicas para adaptarse a las diversas bases propuestas por sus clientes.</p>
				<p>Con el crecimiento significativo del cuidado de la piel, formulamos perfumes que no contienen alérgenos, que no contienen sustancias CMR y que pueden ofrecerse usando varias bases:</p>
				<ul class="services_list">
					<li>Geles de ducha, jabones, champús, cremas, lociones, toallitas, aceites, exfoliantes, maquillaje, etc.</li>
					<li>Perfumes para desodorantes formulados a base de agentes que neutralizan los malos olores.</li>
					<li>Perfumes para alisadores de cabello y colorantes permanentes para el cabello.</li>
				</ul>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h2>Fragancias naturales y orgánicas</h2>
				<hr>
				<p><img src="{% static "/img/fragrances/fragancias_naturales.jpg" %}" width="40%" class="float-left mr-4 mb-1">En respuesta a la gran tendencia hacia lo natural, ofrecemos perfumes naturales y orgánicos.</p>
				<p>Inicialmente orientado exclusivamente a la aromaterapia, el uso de ingredientes naturales permite mejorar las paletas de los perfumistas para que se desarrollen perfumes naturales de alta calidad.</p>
				<p>Hoy en día, los consumidores desean combinar el placer, la eficacia y los ingredientes naturales, por lo que la innovación olfativa es importante cuando se trata de proporcionar nuevas experiencias sensoriales y lealtad a la marca.</p>
				<p>Siendo consciente de las características regulatorias específicas de este mercado, contamos con las siguientes certificaciones:</p>
				<p>En Francia: Ecocert, Natural Ecocert, Organic Ecocert, Natural Cosmetics Ecocert y Organic Cosmetics Ecocert.</p>
				<p>En los Estados Unidos: NOP / USDA.</p>

				<p><img src="{% static "/img/fragrances/fragancias_naturales2.jpg" %}" width="40%" class="float-right ml-4 mb-1">El departamento a cargo de las regulaciones lleva a cabo un monitoreo constante para prever los desarrollos y responder de manera efectiva a las expectativas de los clientes.</p>
				<p>Dedicamos especial atención al diseño y la fabricación de sus productos, al tiempo que cumple con los desafíos normativos y los estrictos estándares de calidad relacionados con la salud, el medioambiente, la seguridad y las materias primas utilizadas.</p>
				<p>Como desempeñan un papel predominante en el desarrollo de fragancias, las reglamentaciones se aplican y analizan cuidadosamente para cumplir con los requisitos normativos específicos en todo el mundo.</p>

			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h2> Clean Fragrances / Fragancias Limpias</h2>
				<hr>
				<p><img src="{% static "/img/fragrances/fragancias_limpias.png" %}" width="25%" class="float-left mr-4 mb-1">Sozio, experto en la perfumería natural, sigue incrementando su enfoque en fragancias verdes y sostenibles. Además de proveer fragancias naturales certificadas Cosmos-Ecocert y fragancias orgánicas certificadas NOP-USDA, Sozio ofrece ahora fragancias “LIMPIAS” basadas en una línea directriz restrictiva.. Sozio está avanzando aún más desarrollando su propia etiqueta FRAGANCIAS LIMPIAS.</p>

				<p>Los consumidores están buscando productos más seguros. También están buscando minimizar el impacto del medio ambiente. Sozio ha definido una lista negra de ingredientes que están prohibidos para ser usados bajo nuestra etiqueta FRAGANCIAS LIMPIAS.</p>
				
				<p>La FRAGANCIA LIMPIA de Sozio no estaría completa sin una política fundamental de transparencia. Ser transparente es vital en el panorama actual de la perfumería, los clientes desean tener acceso a la fórmula o crear nuevas pautas que sean más restrictivas para mantener el control del uso de las materias primas. à Con nuestra etiqueta FRAGANCIA LIMPIA, compartimos con nuestros clientes la lista de todas las materias primas incluidas en nuestras fórmulas FRAGANCIA LIMPIA.</p>
				<img src="{% static "/img/fragrances/fragancias_limpias2.jpg" %}" width="80%" class="mx-auto d-block">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<img src="{% static "/img/fragrances/fragancias_hogar.jpg" %}" width="40%" class="float-right ml-4 mb-1">
				<h2>Fragancias para el hogar</h2>
				<hr>
				<p>El mercado de fragancias para el hogar está experimentando una gran expansión, con presencia en las tiendas de venta al por menor grandes y medianas, así como en las marcas especializadas.</p>
				
				<p>Nuestra representada tiene experiencia real en este mercado, lo que permite desarrollar perfumes cálidos y fríos, agradables y potentes, y de ese modo, crear un mundo olfativo único. Utilizando cabinas olfativas, los perfumes se evalúan en condiciones de la vida real.</p>
 				
 				<p>Percibir su espacio vital se ha convertido en un acto esencial y en un número creciente de nuevas innovaciones en el cuidado del aire. Mantenemos también, las fragancias clásicas las cuales siguen gustando a las personas.</p>
				
				<p>Fragancias formuladas utilizando agentes de enmascaramiento y neutralización de malos olores de habitación (tabaco, animales, comida, orina, amoníaco, etc.) aptos para el desarrollo de velas, rociadores, desodorantes ambientales y agentes de limpieza.</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h2>Fragancias para detergentes</h2>
				<hr>
				<p><img src="{% static "/img/fragrances/fragancias_detergentes.jpg" %}" width="40%" class="float-left mr-4 mb-1">Los detergentes implican una ecuación compleja que combina sofisticación técnica, potencia y precio: la obtención de los aromas más persistentes, potentes y agradables a un precio más bajo.</p>

				<p>Las fragancias utilizadas en el sector de los detergentes son potentes y directas; tienen que simbolizar la eficacia del producto, aunque se observa una sofisticación en términos de fragancias asociadas con las preferencias conceptuales, para garantizar el máximo placer para los consumidores que buscan nuevas experiencias olfativas.</p>

				<p>Detergentes en polvo o líquido para lavar y suavizantes de telas: los consumidores quieren productos que se preocupen tanto por su delicada piel como por su ropa, mientras que al mismo tiempo proporcionan un aroma placentero y duradero.</p>

			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}