{% extends "layout.html" %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <div class="parallax">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <img src="{%static 'img/PRO_MARKET_LOGO.png' %}">
                </div>
            </div>
        </div>
    </div>
    <section class="second">
        <div class="container">
            <div class="row">
                <div class="col-10 mt-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi veritatis harum qui iure tenetur eveniet libero odit ullam numquam blanditiis, ipsa sapiente temporibus laboriosam voluptas odio nam fuga rerum dolor.
                </div>
            </div>
        </div>
    </section>
    <section class="third">

    </section>
    <section class="fourth">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium cupiditate aliquam aliquid sed aperiam ab, pariatur quia omnis fugit voluptas optio ipsam, consequatur neque reiciendis fuga! Ab corporis ipsum quod.</p>
    </section>
{% endblock %}

{% block script %}
{% endblock %}