{% extends "layout.html" %}
{% load static %}
{% block title %}Pro Market | Servicios{% endblock %}

{% block content %}
	<section class="services d-flex align-items-center">
		<div class="container-fluid ">
			<div class="row justify-content-center">		
				<div class="col-12 text-center mb-4" data-aos="fade-down" data-aos-duration="1500">
					<h1>Servicios</h1>					
				</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container mt-5">
		<div class="row">			
			<div class="col">
				<h2>Investigación y desarrollo</h2>
				<hr>
				<p>Constituyendo la mayor fortaleza de su crecimiento, SOZIO invierte el 10% de su facturación en investigación y desarrollo de perfumes adaptados a los soportes técnicos que requieren estudios en profundidad. Los perfumes, que están omnipresentes en numerosos mercados, juegan un papel integral en un argumento de venta y tienen un papel decisivo en el acto de compra y en la promoción de la lealtad de los clientes.</p>

				<p>SOZIO desarrolla fragancias originales para clientes en todo el mundo que siguen y anuncian tendencias olfativas actuales y futuras.</p>
				
				<p>Compuesto por un gran equipo de químicos y técnicos especializados en formulaciones, los laboratorios de SOZIO desarrollan soluciones innovadoras y validan perfumes para productos cosméticos, productos de fragancias para el hogar , detergentes y productos técnicos que incluyen plásticos , pinturas , solventes, bases malolientes y más.</p>

				<p>Los laboratorios de I + D garantizan:</p>
				<ul class="services_list">
					<li>Las características de compatibilidad y estabilidad con bases.</li>
					<li>El poder y la persistencia de las características de rendimiento olfativo.</li>
					<li>Estudios de perfumes para nuevas aplicaciones.</li>
				</ul>

				<h2>Muestras</h2>
				<hr>
				<p>Acompañamos tu desarrollo entregando muestras para pruebas de laboratorio. Escríbenos y completa
				formulario de contacto con tus datos, empresa y proyecto. Lo analizaremos y enviaremos una propuesta de
				esencias a utilizar, coordinamos una reunión presencial, on line o telefónica y te hacemos llegar las
				muestras para que hagas tus pruebas. Logrando así un desarrollo conjunto, además te podemos entregar
				tendencias del mercado internacional realizado por las investigaciones de mercado de Sozio Inc. Para
				ayudarte con información para lograr un producto exitoso.</p>
				
				<h2>Atención al cliente</h2>
				<hr>
				<p>Queremos diferenciarnos en brindarle a nuestros clientes servicios y respuestas oportunas a sus necesidades, sabemos que el éxito de sus productos también será nuestro. Por ello tomamos el compromiso de trabajo en conjunto para que los esfuerzos que se realicen aporte beneficios a ambas partes.</p>

				<p>Te acompañamos en el desarrollo de tus productos, realizando una propuesta para cada proyecto, entregando las muestras para que alcances el éxito de los lanzamientos. Además estudiamos las tendencias del mercado internacional para tu apoyo.</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}