body{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
}

#logo-nav{
    height: 100px;
    width: auto;
    margin:10px auto;
	display:block;
}

nav.navbar {
    background-color: #ffffff !important;
    font-size: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PARALLAX */

.home, .home2, .about, .fragrances, .services, .contact{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-top: 56px;
}

.about,.fragrances, .services, .contact{
    height: 60vh;
}

.home{
    background-image: url('../img/section/lavender.jpg');
}

.home2{
    background-image: url('../img/section/white_flowers.jpg');
}

.about{
    background-image: url('../img/section/about.png');
}

.about h1{
    color: white;
}

.fragrances{
    background-image: url('../img/section/fragrances.jpg');
}

.services{
    background-image: url('../img/section/services.jpg');
}

.contact{
    background-image: url('../img/section/contact.jpg');
}

.home2 p, .home2 h5{
    color: black;
}

.parallax-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* END PARALLAX */

h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: black;
}

h2{
    font-size: 3rem;
    color: black;
    margin-bottom: 0;
}

hr{
    width: 35%;
    border: 0.01em solid #249b8b;
    display:inline-block;
    margin-bottom: 0.4rem;
}

.btn-more{
    border: 2px solid;
}

.btn-more:hover{
    border: 2px solid #249b8b;
    color: #249b8b;
}

.send-btn{
    border: #249b8b;
    background: #249b8b;
    color: white;
}

.send-btn:hover{
    border: #208a7b;
    background: #208a7b;
    color: white;
}

.services_list{
    margin-left: 25px;
}

footer{
    color: white;
    background-color: #666;
}

footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
}

.social, .social:hover{
    text-decoration: none;
    font-weight: 600;
    color: black;
}